SUPERUSERS = ('root', 'admin', )

# run ~/gitjoin.git/update after changing database
# DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.postgresql_psycopg2', # or .mysql or .sqlite3 or .oracle
#        'NAME': 'git',                      # Or path to database file if using sqlite3.
#        'USER': 'git',                      # Not used with sqlite3.
#        'PASSWORD': 'secretpassword',       # Not used with sqlite3.
#        'HOST': 'db.example.com',           # Set to empty string for localhost. Not used with sqlite3.
#        'PORT': '',                         # Set to empty string for default. Not used with sqlite3.
#    }
# }
