.repo-header > div {
    padding-bottom: 10px;
}
#key-add-pre {
    margin: 1em 0em;
}
.leftcol {
    float: left;
    display: inline-block;
}
.userimg {
    width: 15em;
    padding: 0.3em;
    border: 1px solid #ddd;
}
.rightcol {
    display: inline-block;
    margin-left: 2em;
    min-height: 25em;
}
.usertitle {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 0.1em;
}
.userdata {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 1.3em;
}
ul.repos {
    list-style-type: none;
    font-size: 1.3em;
}
ul.repos li {
    margin-bottom: 0.7em;
}
ul.repos .rest {
    display: inline-block;
    margin-left: 0.3em;
}
ul.repos .icon-book {
    float: left;
    margin-top: 0.1em;
}
ul.repos a {

}
ul.repos .descr {
    display: block;
    margin-left: 0em;
}
.empty {
    color: #bbb;
    font-style: italic;
}
.repoinfo {
    border: 1px solid #eee;
    border-radius: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.9em;
}
.repoinfo .description {
    margin-top: 0.5em;
    margin-left: 0.7em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}
.repoinfo pre {
    margin: 0;
}
.userlist {
    list-style-type: none;
    margin-left: 0.5em;
}
.userlist i {
    display: inline-block;
    margin-right: 0.5em;
}
.userlist li {
    margin-bottom: 0.3em;
}
.hooksleft {
    float: left;
    margin-right: 1.5em;
}
