<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Home{% endblock %} | Gitjoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .footer {
        margin-top: 45px;
        padding: 35px 0 36px;
        border-top: 1px solid #E5E5E5;
      }
      .nobr { white-space: nowrap; }
      .commit-header { margin-bottom: 2em; margin-top: 0.5em; }
      .commit-msg { margin-top: 0.5em; margin-bottom: 0.6em; white-space: pre; }
      .action-D { color: red; }
      .action-A { color: green; }
      .action-M { color: blue; }
      .mode-marker { color: gray; }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/css/prettify.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/file-input/css/enhanced.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/git.css">
    {% block css %}{% endblock %}
    </head>
  <body onload="prettyPrint()" class="no_tex">
{% if not is_popup %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">
              Gitjoin
              <!--<code>{{ settings.USERNAME }}@{{ settings.HOSTNAME }}</code>-->
          </a>
          <div class="nav-collapse">
            {% if user.is_authenticated %}
            <ul class="nav">

            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              {% load url from future %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ user.get_full_name }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'new_repo' %}"><i class="icon-plus-sign"></i> New repository</a></li>
                  <li><a href="{% url 'ssh_keys' %}"><i class="icon-book"></i> SSH keys</a></li>
                    {% if user.is_staff %}
                    <li><a href="/global/admin/"><i class="icon-tag"></i> Admin</a></li>
                    {% endif %}
                  <li class="divider"></li>
                  <li><a href="{% url 'django.contrib.auth.views.logout' %}"><i class="icon-off"></i> Logout</a></li>
                </ul>
              </li>
             </ul>
            {% else %}
            <ul class="nav pull-right">
              <li><a href="{% url 'django.contrib.auth.views.login' %}" id="login">Login</a></li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endif %}
    <div class="container">
      {% block content %}{% endblock %}
{% if not is_popup %}
      <footer class="footer">
        <p>
          &copy; 2012
                    <a href="http://zielm.com">Michał Zieliński</a>
        </p>
      </footer>
{% endif %}
    </div>
  </body>
  <script src="{{ STATIC_URL }}/bootstrap/js/google-prettify/prettify.js"></script>
  <script src="{{ STATIC_URL }}/bootstrap/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap-popover.js"></script>
  <script src="{{ STATIC_URL }}/bootstrap/js/bootstrap-scrollspy.js"></script>
  <script src="{{ STATIC_URL }}/file-input/js/enhance.min.js"></script>
  <script src="{{ STATIC_URL }}/file-input/js/fileinput.jquery.js"></script>
</html>
