{% extends "base.html" %}
{% block content %}
<h3>Users</h3>
<ul class=userlist>
{% for user in users %}
    <li><i class=icon-user></i><a href="{% url user user.name %}">{{ user.name }}</a></li>
{% endfor %}
</ul>
<h3>Organizations</h3>
<ul class=userlist>
    {% for org in orgs %}
    <li><i class=icon-lock></i><a href="{% url user org.name %}">{{ org.name }}</a></li>
    {% endfor %}
</ul>
{% if user.is_staff %}
<a href="{% url org_new %}" class="btn">New organization</a>
{% endif %}
{% endblock %}
