{% extends "org_base.html" %}
{% block orgcontent %}
{% load gitjoin_extras %}
<form method=POST class=form-horizontal>
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endif %}
    <fieldset>
       <!--<div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">Name</label>
            <div class="controls"><input type=text name=name value="{{ repo.name }}"></div>
        </div>-->
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">Owners</label>
            <div class="controls"><input type=text name=owners value="{{ object.owners.all|usernames }}"></div>
        </div>

        <div class="form-actions">
            <button type=submit class="btn btn-primary">Save</button>
        </div>
    </fieldset>
</form>
{% endblock %}
