{% extends "repo_admin_base.html" %}
{% block repoadmincontent %}
{% load gitjoin_extras %}
<form method=POST class=form-horizontal>
    {% csrf_token %}
    {% if error %}
    <div class="alert alert-error">
        {{ error }}
    </div>
    {% endif %}
    <fieldset>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">Name</label>
            <div class="controls"><input type=text name=name value="{{ repo.name }}"></div>
        </div>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">Description</label>
            <div class="controls"><textarea name=description>{{ repo.description }}</textarea></div>
        </div>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">Public</label>
            <div class="controls"><input type=checkbox name=public {% if repo.public %}checked{% endif %}></div>
        </div>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">RO</label>
            <div class="controls"><input type=text name=ro value="{{ repo|usernames:'ro_repos' }}"></div>
        </div>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">RW</label>
            <div class="controls"><input type=text name=rw value="{{ repo|usernames:'rw_repos' }}"></div>
        </div>
        <div class="control-group {% if error %}error{% endif %}">
            <label class="control-label">RW+</label>
            <div class="controls"><input type=text name=rwplus value="{{ repo|usernames:'rwplus_repos' }}"></div>
        </div>
        {% if has_access %}
        <div class="form-actions">
            <button type=submit class="btn btn-primary">Save</button>
        </div>
        {% endif %}
    </fieldset>
</form>
{% endblock %}
