{% extends "base.html" %}
{% load gitjoin_extras %}
{% block content %}
<header class="repo-header">
    <div class="pull-left">
        <h3>
          <a href="{% url user repo.holder.name %}">{{ repo.holder.name }}</a> /
          <a href="{% url repo repo.holder.name repo.name %}">{{ repo.name }}</a>
        </h3>
        <h4>
            {% for fragment in path|splitpath %}
            / <a href="{% url repo_tree user.name repo.name branch fragment.path %}">{{ fragment.name }}</a>
            {% endfor %}
        </h4>
    </div>
    <div class="pull-right">
        <a href="{% url repo_admin user.name repo.name %}" class="btn"><i class="icon-tag"></i> Admin</a>
    </div>
</header>
{% block repocontent %}{% endblock %}
{% endblock %}
