{% extends "org_base.html" %}
{% load gitjoin_extras %}
{% block orgcontent %}
<h3>Repositories</h3>
<ul>
{% for repo in repos %}
   <li><a href="{% url repo object.name repo.name %}">{{ repo.name }}</a>
{% endfor %}
</ul>

{% if owners %}
<h3>Owners</h3>
<ul>
{% for owner in owners %}
    <li><a href="{% url user owner.name %}">{{ owner.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if groups %}
<h3>Groups</h3>
<ul>
{% for group in groups %}
    <li><a href="{% url org_admin_group object.name group.name %}">{{ group.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
